<!-- Thumbnails -->

    <div class="large-8 columns">
      <div class="row">
  <div class="large-12 columns">
          <div class="panel">
            <div class="row">

              <div class="large-2 small-6 columns">
                <img src="http://placehold.it/300x300&text=Site Owner">
              </div>

              <div class="large-10 small-6 columns">
                <strong>Nuestra Misión es<hr/></strong>

                Apoyar al desarrollo de la pequeña y mediana industria de alimentos en América Latina a través de un sistema de asesoría  y consultoría ordenada y orientada a resultados y objetivos específicos que ofrezca soluciones a las necesidades de creación de productos, desarrollo de procesos, capacitación e implementación y manejo de sistemas de producción, calidad y comercialización que se ajusten a las metas del cliente.
              </div>

            </div>
          </div>
        </div>
      </div>

    <!-- End Thumbnails -->