<div class="row">
    <div class="large-12 columns">

    <!-- Navigation -->

      <div class="row">
        <div class="large-12 columns">

          <nav class="top-bar">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <h1>
                  <%= link_to "Homepage", "/"%>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>
         
            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="right">
                <li class="divider"></li>
                <li class="has-dropdown">
               	  <a href="#">Quienes somos?</a>
                  <ul class="dropdown">
                    <li><label>Acerca de Nosotros</label></li>
                    <li class="#">
                      <%= link_to "Misión", "mision"%>
                    </li>
                    <li><%= link_to "Visión", "vision"%></li>
                    <li><a href="#">Objetivos</a></li>
                    <li><a href="#">Ver todo &rarr;</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li><a href="#">Servicios</a></li>
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">Contacto</a>
                  <ul class="dropdown">
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li class="divider"></li>
                    <li><a href="#">See all &rarr;</a></li>
                  </ul>
                </li>
              </ul>
            </section>
          </nav>
          <!-- End Top Bar -->
        </div>
      </div>

    <!-- End Navigation -->

      <div class="row">

  <!-- Side Bar -->

        <div class="large-4 small-12 columns">

          <img src="assets/homepage_images/SmallLogo.jpg">

          <div class="hide-for-small panel">
            <h3>LOGIN</h3>
            <h5 class="subheader">
            	Username: <input type="text" />
            	Password: <input type="text" />
            	<input type="submit" value="Ingresar" />
            </h5>
          </div>

          <a href="#">
          <div class="panel callout radius">
            <h6>99&nbsp; items in your cart</h6>
          </div>
          </a>

        </div>

    <!-- End Side Bar -->


    <!-- Thumbnails -->

        <div class="large-8 columns">
          <div class="row">
			<div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-6 columns">
                    <img src="http://placehold.it/300x300&text=Site Owner">
                  </div>

                  <div class="large-10 small-6 columns">
                    <strong>Nuestra Misión es<hr/></strong>

                    Apoyar al desarrollo de la pequeña y mediana industria de alimentos en América Latina a través de un sistema de asesoría  y consultoría ordenada y orientada a resultados y objetivos específicos que ofrezca soluciones a las necesidades de creación de productos, desarrollo de procesos, capacitación e implementación y manejo de sistemas de producción, calidad y comercialización que se ajusten a las metas del cliente.
                  </div>

                </div>
              </div>
            </div>
          </div>

    <!-- End Thumbnails -->


        </div>
      </div>


    <!-- Footer -->

      <footer class="row">
        <div class="large-12 columns"><hr />
          <div class="row">

            <div class="large-6 columns">
              <p>&copy; Copyright no one at all. Go to town.</p>
            </div>

            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>

          </div>
        </div>
      </footer>

    <!-- End Footer -->

    </div>
  </div>