 <!-- Thumbnails -->

      <div class="large-8 columns">
        <div class="row">
    <div class="large-12 columns">
            <div class="panel">
              <div class="row">

                <div class="large-2 small-6 columns">
                  <img src="http://placehold.it/300x300&text=Site Owner">
                </div>

                <div class="large-10 small-6 columns">
                  <strong>Nuestra Visión es<hr/></strong>

                  Convertirnos en la consultora de alimentos de referencia en América Latina a través del éxito de nuestras operaciones en el cumplimiento de las necesidades de nuestros clientes. 
                </div>

              </div>
            </div>
          </div>
        </div>

    <!-- End Thumbnails -->