<!-- Thumbnails -->

<div class="large-8 columns">
<div class="row">

  <div class="large-4 small-6 columns">
    <img src="assets/conferencia.jpeg">

    <div class="panel">
      <h5>Curso de Análisis Sensorial en Quito</h5>
      <h6 class="subheader">$400, 00 + IVA (incluye todos los materiales, coffee break y almuerzo ejecutivo para ambos días) </h6>
    </div>
  </div>

  <div class="large-4 small-6 columns">
    <img src="assets/conferencia.jpeg">

    <div class="panel">
      <h5>Cursos de Buenas Prácticas de Manufactura</h5>
      <h6 class="subheader">$300, 00 + IVA () </h6>
    </div>
  </div>
  
  <div class="large-4 small-6 columns">
    <img src="assets/conferencia.jpeg">

    <div class="panel">
      <h5>Cursos de Técnicas para el Desarrollo de Nuevos Productos Alimenticios </h5>
      <h6 class="subheader">$600, 00 + IVA (incluye todos los materiales, coffee break y almuerzo ejecutivo para ambos días) </h6>
    </div>
  </div>
</div>

    <!-- End Thumbnails -->