<!-- Thumbnails -->

<div class="large-8 columns">
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4><%= @program.name %></h4>
      
      <div>
        <%= @program.description.html_safe %>
      </div>
        <%= image_tag(@program.program_images.first.attachment.url(:original)) %>
      
    </div>
  </div>
</div>

    <!-- End Thumbnails -->