<div class="left_block">
      <div class="program">
      
            <img src="/assets/green-line.png"/>
            <h1 class="indentation-left"><%= @program.name %></h1>
            <hr>
            
              
              <%= @program.description.html_safe %>
              
              
            
           <%= image_tag(@program.program_images.first.attachment.url(:original)) unless @program.program_images.blank? %>
              

            
      </div>

  </div>



