<div class="large-8 columns">
  <div class="row">
    <%= form_for([@contact_us], :url => contact_us_path) do |f| %>
      <%= render :partial => "form", :object => f %>
      <div class="buttons">
          <%= f.submit "Enviar" %>
      </div>
    <% end %>
  </div>