<!-- Managed By -->
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <div class="row">

          <div class="large-2 small-6 columns">
            <img src="/assets/visto_bueno.png">
          </div>

          <div class="large-10 small-6 columns">
            <strong>Nuestro compromiso<hr/></strong>
            <h6 class="subheader">
              Un servicio de calidad en asesoramiento y capacitación en la industria de alimentos para su satisfacción y la de sus clientes. Su éxito es el nuestro.
            </h6>  
          </div>

        </div>
      </div>
    </div>

    <!-- End Managed By -->