<!-- Managed By -->
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-6 columns">
                    <img src="http://placehold.it/300x300&text=Site Owner">
                  </div>

                  <div class="large-10 small-6 columns">
                    <strong>Nuestro compromiso<hr/></strong>
                    Un servicio de calidad en asesoramiento y capacitación en la industria de alimentos para su satisfacción y la de sus clientes. Su éxito es el nuestro.  
                  </div>

                </div>
              </div>
            </div>

    <!-- End Managed By -->