<div class="large-4 small-12 columns">

	<img src="assets/homepage_images/SmallLogo.jpg">
	
	<div class="hide-for-small panel">
		<h3>Noticias</h3>
		<h5 class="subheader"> 
		  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
		</h5>
	</div>
  
	<a href="#">
	<div class="panel callout radius">
		<h6>Foodcon Colombia</h6>
	</div> </a>

</div>