<div class="large-4 small-12 columns">

	<img src="/assets/homepage_images/SmallLogo.jpg">
	
	<div class="hide-for-small panel">
		<h3>Contáctenos</h3>
		<h5 class="subheader"> 
		  De Los Guayabos N51-29A <br /> y De Los Álamos <br /> Quito-Ecuador <br /> 0984620749 <br />e-mail: info@foodcon.net
		</h5>
	</div>
  
	<a href="http://www.mundohelado.com">
	<div class="panel">
		<img src="/assets/mundohelado.jpg" width="240" />
	</div> </a>

</div>

