<div class="large-4 small-12 columns">

	<%= link_to "/" do %><img src="/assets/homepage_images/SmallLogo.jpg">
	<% end %>
	<div class="hide-for-small panel">
		<h3>Contáctenos</h3>
		<h5 class="subheader"> 
		  De Los Guayabos N51-29A <br /> y De Los Álamos <br /> Quito-Ecuador <br /> (02) 326-1442 / (09) 983-786-38 <br />
      <a href="mailto:info@foodcon.net">info@foodcon.net</a>
		</h5>
	</div>
  
	<a href="http://www.mundohelado.com">
	<div class="panel">
		<img src="/assets/mundohelado.jpg" width="240" />
	</div> </a>
  
  <div class="panel">
    <!--Facebook code -->  
    <div class="fb-like" data-href="https://www.facebook.com/pages/Food-Consulting/300068603454072?ref=ts&amp;fref=ts" data-send="false" data-width="250" data-show-faces="true"></div>
    <!-- End Facebook code -->
  </div>
 
</div>

