<div class="row">
  <div class="large-12 columns">

    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1>
            <%= link_to "Homepage", "/"%>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>
   
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">¿Quiénes somos?</a>
            <ul class="dropdown">
              <li><label>Acerca de Nosotros</label></li>
              <li class="#">
                <%= link_to "Misión", "/mision"%>
              </li>
              <li><%= link_to "Visión", "/vision"%></li>
              <li><a href="#">Objetivos</a></li>
              <li><a href="#">Ver todo &rarr;</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><a href="#">Servicios</a></li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Contacto</a>
            <ul class="dropdown">
              <li><a href="#">Dropdown Option</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li class="divider"></li>
              <li><a href="#">See all &rarr;</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
    <!-- End Top Bar -->
  </div>
</div>