<header>
        
        	  <div class="row">
        		<div class="small-12 large-4 columns">
					<a href="/"><img src="/assets/foodcon_logo.png" height="130" /></a>
				</div>
	          </div>
	          <div class="container-carousel">
	            <div class="row carousel">
	            	<div class="small-12 large-12 columns">
	              		
	              		<!-- Jssor Slider Begin -->
						    <!-- You can move inline styles (except 'top', 'left', 'width' and 'height') to css file or css block. -->
						    <div id="slider2_container" style="position: relative; top: 0px; left: 80px; width: 500px;
						        height: 300px;">
						
						        <!-- Loading Screen -->
						        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
						            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
						                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
						            </div>
						            <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
						                top: 0px; left: 0px;width: 100%;height:100%;">
						            </div>
						        </div>
						
						        <!-- Slides Container -->
						        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 600px; height: 300px; overflow: hidden;">
						            <div>
						                <img u="image" src="/assets/comida-baja-en-grasa.jpg" />
						                <img u="thumb" src="/assets/comida-baja-en-grasa.jpg" />
						            </div>
						            <div>
						                <img u="image" src="/assets/imagen_1.png" />
						                <img u="thumb" src="/assets/imagen_1.png" />
						            </div>
						            <div>
						                <img u="image" src="/assets/imagen_2.png" />
						                <img u="thumb" src="/assets/imagen_2.png" />
						            </div>
						            <div>
						                <img u="image" src="/assets/imagen_3.png" />
						                <img u="thumb" src="/assets/imagen_3.png" />
						            </div>
						            
						        </div>
						        
						        <!-- Arrow Left -->
						        <span u="arrowleft" class="jssord02l" style="width: 55px; height: 55px; top: 123px; left: 8px;">
						        </span>
						        <!-- Arrow Right -->
						        <span u="arrowright" class="jssord02r" style="width: 55px; height: 55px; top: 123px; right: 8px">
						        </span>
						        <!-- Direction Navigator Skin End -->
						        
						        <!-- ThumbnailNavigator Skin Begin -->
						        <div u="thumbnavigator" class="jssort03" style="position: absolute; width: 600px; height: 60px; left:0px; bottom: 0px;">
						            <div style=" background-color: #000; filter:alpha(opacity=30); opacity:.3; width: 100%; height:100%;"></div>
						
						            <div u="slides" style="cursor: move;">
						                <div u="prototype" class="p" style="POSITION: absolute; WIDTH: 62px; HEIGHT: 32px; TOP: 0; LEFT: 0;">
						                    <div class=w><ThumbnailTemplate style=" WIDTH: 100%; HEIGHT: 100%; border: none;position:absolute; TOP: 0; LEFT: 0;"></ThumbnailTemplate></div>
						                    <div class=c style="POSITION: absolute; BACKGROUND-COLOR: #000; TOP: 0; LEFT: 0">
						                    </div>
						                </div>
						            </div>
						            <!-- Thumbnail Item Skin End -->
						        </div>
						        <!-- ThumbnailNavigator Skin End -->
						        <a style="display: none" href="http://www.jssor.com">jQuery Slider</a>
						    </div>
						    <!-- Jssor Slider End -->
	              		
	              		
	              		
	              	</div>
	          	</div>
              </div>
            
          <div class="container-menu">
          	<div class="row">
          		<div class="small-12 large-12 columns">
	            <ul class="menu">
	             <li><a href="#">Inicio</a></li>
	              <li><a href="#">¿Quiénes somos?</a></li>
	              <li><a href="#">Acerca de Nosotros</a>
	                <ul>
	                  <% @company_infos.each do |company_info| %>
	                    <li>
	                      <%= link_to company_info.title, company_info_path(company_info) %>
	                    </li>
	                  <% end %>
	                </ul>
	              </li>
	              <li><a href="#">Programas</a>
	                <ul>
	                  <% @all_programs.each do |program| %>
	                    <li>
	                      <%= link_to program.name, program_path(program) %>
	                    </li>
	                  <% end %>
	                </ul>
	              </li>
	
	            </ul>
	            </div>
	          </div>
          </div>
        
</header>
